{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  #over:hover{
        background-color: rgba(110, 110, 110, 0.616);
        
    }
    .description-icon {
    cursor: pointer;
  }
  
  .description-icon::before {
    content: attr(title);
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
    white-space: nowrap;
  }
  
  .description-icon:hover::before {
    display: block;
  }
</style>

<div class="fixed-top" style="top: 7rem; margin-left: 18rem;">
    <div style="height: 600px;overflow-y: scroll;">
        <div class="row">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Projects</a></div>
            <div class="col-md-6 form-inline" style="margin-left: 55rem;margin-top: -2rem;"><a style="color: #ccc;" class="btn btn-success mr-2" href="{% url 'proj' %}"><i class="fa-solid fa-plus "></i>New</a>

            </div>
        </div>   
    
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-11">
                <table class="table  text-white" id="myTable">
                    <thead>
                      <tr>
                        <th>CUSTOMER NAME</th>
                        <th>PROJECT NAME</th>
                        <th>BILLING METHOD</th>
                        <th>DESCRIPTION</th>
                        <th>RATE</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for v in proj %}
             
                      <tr id="over">
             
                        <!--<td onclick="location.href ='{% url 'detail' v.id %}' " > {{v.name}}</td> -->
                        <td>{{v.c_name.customerName}}</td>
                        <td>
                          <a href="{% url 'overview' v.id %}">{{v.name}}</a>
                        </td>
                        
                        <td>{{v.billing}}</td>
                        <td><span class="description-icon" title="{{v.desc}}">&#9432;</span></td>
                        <td>{{v.rateperhour}}</td>
        
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1"></div>

        </div>
      

           
        

    </div>

</div>







{% endblock %}