{% extends 'base.html' %}
{% block content %}
{% load static %}



<!-- class="row fixed-top " -->
<!-- style=" position: fixed;" -->
<style>
    .dark-select {
    background-color: #333;
    color: #fff;
    width: 200px;
}
</style>
<!-- <section > -->
    <div class="fixed-top" style="top: 7rem; margin-left: 18rem;" >
     
          <div style="height: 600px;overflow-y: scroll;">
             <h3  class="mb-3  text-white " style="font-size: 2rem;">New Project</h3><br>     
      
            <form  method="post" action="{% url 'addproj' %}"  enctype="multipart/form-data" class="">
              {% csrf_token %}
              
              
              <div class=" form-group row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                    <label >Project name*</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <input  type="text" class="form-control" name="name" required>     
                        <div class="invalid-feedback">Please fill out this field.</div>   
 
                </div>
                
            </div>

               <div class="form-group row mt-4">
                   <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Description</label></div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <input type="text" class="form-control" name="desc" required>     
                        <div class="invalid-feedback">Please fill out this field.</div>   
 
                    </div>


                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Customer Name*</label></div>
                     <div class="col-sm-12 col-md-6 col-lg-6">
                        
                        <select name="c_name" id=""   class="form-control">
                            
                            <option value="">Select Customer</option>
    {% for d in data %}
    <option value="{{d.id}}" >{{d.customerName}}</option>
    {% endfor %}



                        </select>
                              
                     </div>
                     
 
                 </div>

                 <div class="form-group row mt-4">
                    <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Billing Method*</label></div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <select name="billing" id="billingMethodSelect" class="form-control">
                            <option value=""></option>
                            <option value="Fixed cost for project">Fixed cost for project</option>
                            <option value="Based on project hours">Based on project hours</option>
                            <option value="Based on staff hours">Based on staff hours</option>
                            <option value="Based on task hours">Based on task hours</option>
                        </select>
                    </div>
                </div>
                <div id="inputBoxContainer" style="display: none;">
                    <div class=" form-group row">
                        <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
                            <label >Rate per hour*</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <input  type="text" class="form-control" name="rateperhour"  id="inputBox" >     
                                
         
                        </div>
                        
                    </div>
                    
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-12 col-md-3 col-lg-3 col-form-label"><label>Budget Type*</label></div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <select name="budget" id="budgetMethodSelect" class="form-control">
                            <option value=""></option>
                            <option value="Total budget cost">Total budget cost</option>
                            <option value="Total project hours">Total project hours(HH:MM)</option>
                            <option value="Hours per task">Hours per task</option>
                            <option value="Hours per staff">Hours per staff</option>
                        </select>
                    </div>
                </div>
                    <center>
                    <!--<div class="col-sm-12 col-md-6 col-lg-6">
                         <input  type="checkbox"  name="w_phone" placeholder="work phone" required>
                            
                         <label class="col-sm-12 col-md-6 col-lg-6 ">Add budget for this project.</label>
                     </div>-->
                    </center>
 
                    <label for="">Users</label><br>
    <table class="table text-black" id="user_table">
        <thead>
            <tr>
                <th>User</th>
                <th class="text-right">E-mail</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="user_row1">
                <td>
                    <select name="user_select" id="user_select" class="form-control">
                        {% for d in u %}
                            <option value="{{d.id}}" data-email="{{d.email}}">{{d.username}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="text-right">
                    <input type="email" class="form-control" id="email1" name="email" >
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" style="width:30px">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);" id="add-user-row">Add User</button><br><br><br>

    <label for="">Tasks</label><br>
    <table class="table text-black" id="task_table">
        <thead>
            <tr>
                <th>Task name</th>
                <th class="text-right">Description</th>
                <th class="text-right">Rate per hour</th>
                <th class="text-center">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr id="task_row1">
                <td>
                    <input type="text" class="form-control" id="task1" name="taskn">
                </td>
                <td class="text-right">
                    <input type="text" class="form-control" id="desc1" name="taskdesc">
                </td>
                <td class="text-right">
                    <input type="text" class="form-control" id="tsk1" name="taskrate">
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" style="width:30px">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);" id="add-task-row">Add Task</button><br><br>
    <!--<div class="col-sm-12 col-md-6 col-lg-6">
        <input  type="checkbox"  name="w_phone" placeholder="work phone" required>
           
        <label class="col-sm-12 col-md-6 col-lg-6 ">Add to the watchlist on my dashboard.</label>
    </div>-->
    <button type="submit" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);" id="save-btn">Save</button>
    <button type="button" class="btn btn-sm text-white" style="background-color: rgb(210, 132, 30);" id="cancel-btn">Cancel</button>

<script>
   $(document).ready(function() {
    var taskRowCounter = 1;

    $('#add-task-row').click(function() {
        taskRowCounter++;
        var selectedOption = $('#billingMethodSelect').val();

        if (selectedOption === 'Based on staff hours' || selectedOption === 'Based on task hours') {
            $('#task_table tbody').append(`
                <tr id="task_row${taskRowCounter}">
                    <td>
                        <input type="text" class="form-control" id="task${taskRowCounter}" name="taskn">
                    </td>
                    <td class="text-right">
                        <input type="text" class="form-control" id="desc${taskRowCounter}" name="taskdesc">
                    </td>
                    <td class="text-right rate-column">
                        <input type="text" class="form-control" id="tsk${taskRowCounter}" name="taskrate">
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" style="width:30px">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            `);
        } else if (selectedOption === 'Fixed cost for project' || selectedOption === 'Based on project hours') {
            $('#task_table tbody').append(`
                <tr id="task_row${taskRowCounter}">
                    <td>
                        <input type="text" class="form-control" id="task${taskRowCounter}" name="taskn">
                    </td>
                    <td class="text-right">
                        <input type="text" class="form-control" id="desc${taskRowCounter}" name="taskdesc">
                    </td>
                    <td class="text-center rate-column">
                        <button type="button" class="btn btn-transparent text-danger btn-sm btn-outline-danger rounded-circle delete-row" style="width:30px">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            `);
        }
    });
});
</script>

    <script>
        const addUserButton = document.getElementById('add-user-row');
        const userTableBody = document.querySelector('#user_table tbody');
        let rowCounter = 1;
    
        addUserButton.addEventListener('click', function() {
            const newRow = document.getElementById('user_row1').cloneNode(true);
            rowCounter++;
            newRow.setAttribute('id', 'user_row' + rowCounter);
    
            const userSelect = newRow.querySelector('select[name="user_select"]');
            const emailInput = newRow.querySelector('input[name="email"]');
    
            userSelect.setAttribute('name', 'user_select' + rowCounter);
            emailInput.setAttribute('name', 'email' + rowCounter);
    
            userTableBody.appendChild(newRow);
            userSelect.addEventListener('change', function() {
            const selectedOption = userSelect.options[userSelect.selectedIndex];
            const email = selectedOption.getAttribute('data-email');
            emailInput.value = email;
        });
        });
    </script>
    <script>
        const userSelect = document.getElementById('user_select');
        const emailInput = document.getElementById('email1');
    
        userSelect.addEventListener('change', function() {
            const selectedOption = userSelect.options[userSelect.selectedIndex];
            const email = selectedOption.getAttribute('data-email');
            emailInput.value = email;
        });
           // Event delegation for delete row functionality
           $(document).on('click', '.delete-row', function () {
                            $(this).closest('tr').remove();
                        });
    </script>
    <script>
        // Wait for the document to be ready
        $(document).ready(function() {
            // Handle select change event
            $('#billingMethodSelect').on('change', function() {
                var selectedOption = $(this).val();
                
                // Check if the selected option requires an input box
                if (selectedOption === 'Fixed cost for project' || selectedOption === 'Based on project hours') {
                    $('#inputBoxContainer').hide();
                    $('#task_table th:nth-child(3), #task_table td:nth-child(3)').hide();
                } else {
                    $('#inputBoxContainer').show();
                    $('#task_table th:nth-child(3), #task_table td:nth-child(3)').show();
                }
            });
        });
    </script>


    <script>
        // Wait for the document to be ready
        $(document).ready(function() {
            // Handle select change event
            $('#billingMethodSelect').on('change', function() {
                var selectedOption = $(this).val();
                
                // Check if the selected option requires an input box
                if (selectedOption === 'Fixed cost for project' || selectedOption === 'Based on project hours') {
                    $('#inputBoxContainer').show();
                } else {
                    $('#inputBoxContainer').hide();
                }
            });
        });
    </script>







                   






{% endblock %}